/************************************************************************************
HEADER
*************************************************************************************/
#access ul li.current-menu-parent > a, #access ul li.current-menu-item > a, #access ul li.current-menu-ancestor > a, #access ul li > a:hover, #access ul.sub-menu li a:hover {color: #00aaff !important;}


/************************************************************************************
BODY
*************************************************************************************/
.comment-title, .respond{border-bottom:1px solid #cdcdcd;}
#main-column a.button, #commentform #submit, #commentform #submit, .call a.button, .arl.active:hover, .arr.active:hover  {background:#6FCEF3 !important;}
#main-column a.button:hover, #commentform #submit:hover, #commentform #submit:hover, .call a.button:hover {background:#53bfff !important;}
#main-column .post-icon {background-color:#e5eff5;}
#entry-author-info {background:#f1f5f8;border:1px solid #ced8dd;}
#pagination ul li a, #portfolio-navi a , ul.recent-news li .date .month, .post .date .day  {background:#f1f5f8;}
#pagination ul li a:hover, #portfolio-navi a:hover, ul.recent-news li .date .year, .post .date .month {background:#8897a0;}
.tabs-horizontal ul.tabs a.active {border-top: 1px solid #6FCEF3;color: #169FE6;}
.cv-tabs-nav span a.cv-tabs-current {border-left:1px solid #6FCEF3;color: #169FE6;}
.bar_wrap .skill-percentage, .pricing .featured .join {background:#6FCEF3;}
.pricing .featured .join:hover {background:#5AB8E9;}
.pricing .price-table.featured h2 {background:#5ab8e9;}
.pricing .price-table.featured h4 {background:#4cacdd;}


/************************************************************************************
FOOTER
*************************************************************************************/
#footer-widget-area .widget_tag_cloud .tagcloud a {background-color:#7ACEFF;border:1px solid #7ACEFF;}
#footer .flickr_widget ul li:hover {border: 5px solid #6FCEF3;}