/************************************************************************************
HEADER
*************************************************************************************/
#access ul li.current-menu-parent > a, #access ul li.current-menu-item > a, #access ul li.current-menu-ancestor > a, #access ul li > a:hover, #access ul.sub-menu li a:hover {color: #888 !important;}


/************************************************************************************
BODY
*************************************************************************************/
.comment-title, .respond{border-bottom:1px solid #cdcdcd;}
#main-column a.button, #commentform #submit, #commentform #submit, .call a.button, .arl.active:hover, .arr.active:hover  {background:#ccc!important;}
#main-column a.button:hover, #commentform #submit:hover, #commentform #submit:hover, .call a.button:hover {background:#bebebe !important;}
#main-column .post-icon {background-color:#777;}
#entry-author-info {background:#dfdfdf;border:1px solid #898989;}
#pagination ul li a, #portfolio-navi a , ul.recent-news li .date .month, .post .date .day  {background:#dedede;}
#pagination ul li a:hover, #portfolio-navi a:hover, ul.recent-news li .date .year, .post .date .month {background:#cfcfcf;}
.tabs-horizontal ul.tabs a.active {border-top: 1px solid #cbcbcb;color: #bababa;}
.cv-tabs-nav span a.cv-tabs-current {border-left:1px solid #cbcbcb;color: #bababa;}
.bar_wrap .skill-percentage, .pricing .featured .join {background:#ccc;}
.pricing .featured .join:hover {background:#777;}
.pricing .price-table.featured h2 {background:#ccc;}
.pricing .price-table.featured h4 {background:#bbb;}


/************************************************************************************
FOOTER
*************************************************************************************/
#footer-widget-area .widget_tag_cloud .tagcloud a {background-color:#666;border:1px solid #777;}
#footer .flickr_widget ul li:hover {border: 5px solid #ccc;}